/* Assignment M4A1 Project Constraint C */
/* bullt 2 */
body {background-color: yellow;}
/* bullet 1 */
div.banner {position: fixed;
    z-index: 1;
    width: 98.3%;
    height: 100px;
    margin-top: 12px;
    background-color: inherit;
    background-image: url("http://irsc.chadcalvert.com/COP2830/img/IRCC-Logo.gif");
    background-repeat: repeat-x;
    top: 0;}
/* bullet 3 */
div.pad_top_120 {padding-top: 120px;}
h1, h2, h4 {text-align: center;}
h3, h5, h6 {text-align: left;}
a {text-decoration: overline;}
a:link {color: green;}
a:visited {color: red;}
a:hover {color: blue; font-weight: bolder;}
a:active {color: blue; font-weight: normal;}
hr.clear {clear: both}
div table {width: 100%;}
div table td {width: 50%;}

.font_var {font-variant: small-caps;}