/*
    Assignment: M6A1
    File name:	m6a1.css
    Author:		Thomas Werstlein
    Date:		11 April 2023
*/

/*
this is the main css file covering styles for
everything other than the navbar.
*/

body {
    margin: 0;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, rgb(85, 85, 85), rgb(228, 194, 43), rgb(226, 3, 3));
    background-image: -moz-linear-gradient(to bottom right, rgb(0, 0, 0), rgb(228, 194, 43), rgb(226, 3, 3));
    background-image: -o-linear-gradient(to bottom right, rgb(0, 0, 0), rgb(228, 194, 43), rgb(226, 3, 3));
    background-image: -webkit-linear-gradient(to bottom right, rgb(0, 0, 0), rgb(228, 194, 43), rgb(226, 3, 3));
    height: 100%;
    background-repeat: no-repeat;
}

#heading {
    position: relative;
    top: 20px;
    left: 0;
    height: 30px;
    width: 100%;
    margin-top: 5px;
    margin-left: 0;
}

#heading h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    margin-left: 20px;
}

#heading h1#home {
    text-align: center;
}

#heading h1 span#h3 {
    font-size: .9em;
}

#heading p#index {
    position: fixed;
    bottom: 0;
    left: 0;
}

#output {
    position: relative;
    top: 25px;
    left: 10px;
    height: 50%;
    width: 900px;
    margin-top: 5px;
    margin-left: 40px;
    z-index: 1;
}

#output li {
    line-height: 1.5em;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

#output p {
    font-size: 1.5em;
    margin: 25px;
}

#output p span {
    text-decoration: underline;
    font-weight: bold;
}

#output p span#uc {
    text-transform: uppercase;
    text-decoration: none;
}

#output p span#green {
    color: green;
}

#output p span#red {
    color: red;
}

#myCanvas {
    position: relative;
    top: 55px;
    left: 0;
    margin-top: -95px;
    width: 0; 
    height: 0;
}