/*
File name:	m6a1.css
Author:		Thomas Werstlein
Date:		April 2023
*/

canvas#myCanvas {width: 0; height: 0;}

ul li {display: inline;}

#ouput {}

#heading {}

#nav {}
.navDrop {position: relative; padding: 5px 5px 5px 5px; height: 40px; width: 100%; background-color: gray; display: inline-block;}
.navDropContent {display: none; position: absolute; min-width: 175px; padding: 10px 10px; z-index: 1;}
.navDrop:hover .navDropContent {display: block;}
