/*
    Assignment: M6A1
    File name:	m6a1.css
    Author:		Thomas Werstlein
    Date:		April 2023
*/

body{margin: 0;}

canvas#myCanvas {width: 0; height: 0;}

#output {height: 40px; width: 125px; margin-top: 20px; margin-left: 10px; background-color: darkcyan; color: white;}

#heading {height: 40px; width: 125px; margin-top: 20px; margin-left: 10px; background-color: aqua;}