/* element tags */
article {float: left; padding: 30px; width: 65%;}
body {font-family: Times, serif; font-size: 100%;}
button {font-weight: bolder;}
fieldset {margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 450px; height: 285px; padding-left: 50px;}
form {float: left; padding: 30px;}
/* header {background-color: rgb(245, 142, 231); border:5px solid rgb(131, 196, 240); color: floralwhite; text-align: center;} */
header {border:5px solid; text-align: center; margin-left: 150px; margin-right: 150px;}
header.radius {border-top-right-radius: 25% 25%; border-top-left-radius: 25% 25%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%;}
header#height_1 {height: 175px;}
header#height_2 {height: 225px;}
h1#padding_50 {padding-top: 50px;}
<<<<<<< HEAD
h2#header_margin {margin-top: 60px;}
=======
>>>>>>> f4b39e123d79a72b735953cf484aed23fad990b5
input {height: 20px; border: 1px solid; padding-right: 15px; margin-right: 15px;}
li {padding: 5px;}
section:not(#height) {content: ""; display: table; clear: both;}
section#height::after {content: ""; display: table; clear: both; height: 175px;}
div#height::after {content: ""; display: table; clear: both; height: 175px;}
ul {border: 2px; padding: 0;}
* {box-sizing: border-box;}

/* classes */
.clock {text-align: center;}
.div1 {padding-top: 10px;}
.div_about {/*background-color: lightgrey;*/ font-size: larger; width: 350px}
.form {position: absolute; top: 350px; margin-left: 45%;}
<<<<<<< HEAD
.heart {/*background-color: red;*/ border: 1px solid; display: inline-block; height: 60px; margin: 0 10px; position: relative; top: 0; transform: rotate(-35deg); width: 60px;}
=======
.heart {/*background-color: red;*/ border: 2px solid; display: inline-block; height: 60px; margin: 0 10px; position: relative; top: 0; transform: rotate(-41deg); width: 60px;}
>>>>>>> f4b39e123d79a72b735953cf484aed23fad990b5
.heart::before,
.heart::after {content: ""; /*background-color: red;*/ border: 1px solid; border-radius: 50%; height: 60px; position: absolute; width: 60px;}
.heart::before {top: -35px; right: 0px;}
.heart::after {left: 35px; bottom: 0px;}
.larger {font-size: larger;}
.left {float: left;}
.nav_h {padding: 5px 0px 0px 20px; left: 100%; height: 40px; width: auto; /*background-color: gray;*/}
.nav_v_am {float: left; width: 20%; padding: 20px; padding-left: 30px; /*background: rgb(149, 137, 255);*/}
.nav_v_am ul {list-style-type: none; border: 2px; padding: 0;}
.nav_v {float: left; width: 250px; padding: 20px; padding-left: 40px; /*background: rgb(149, 137, 255);*/}
.nav_v ul {list-style-type: none; border: 2px; padding: 0;}
.responsive {padding: 0 6px; float: left; width: 24.99999%;}
.right {float: right; padding-right: 20px;}
.tab {padding-left: 50px;}
.tab_ls {padding-left: 150px;}


/* id's */
/* #bl {color: rgb(0, 0, 218);} */
#block {padding-left: 36%;}
#button_border { border: 0; padding-top: 5px;}
#button_border:hover {border-width: 3px; border-style: solid; /*border-color: rgb(245, 142, 231);*/}
#hide {opacity: 0;}
#hide:hover {opacity: 1;}
#hr1 {/*background-color: darkblue;*/ height: 10px; border: 1px solid;}
#nav_border {border-right-width: 10px; /*border-right-color: rgb(247, 42, 230);*/ border-right-style: double; border-end-end-radius:  50% 50%; border-start-start-radius: 25% 25%;}
#secret {margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}


@media only screen and (max-width: 700px) {.responsive {width: 49.99999%; margin: 6px 0;}}
@media only screen and (max-width: 500px) {.responsive {width: 100%;}}